{% extends 'base.html' %}
{% load static %}
{% block title %}
Reglas
{% endblock %}
{% block header %}
Reglas
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <form class="card col s12 blue-grey lighten-5" style="padding:15px;margin-top:20px">
            <div class="input-field col s8">
                <input id="rule_name" type="text" class="validate formy">
                <label for="rule_name">URL</label>
            </div>
            <div id="dropbtn" class="col s1">
              <i id="dropbtn-trigger" class="fa fa-3x fa-caret-down"></i>
            </div>
            <div class="valign-wrapper switch col s3" style="padding-top:30px;padding-left:35px">
                <label class="valign">
                    Off
                    <input type="checkbox" id="check">
                    <span class="lever"></span>
                    On
                </label>
            </div>
            <div class="input-field col s12">
                <textarea id="rule_desc" class="materialize-textarea formy"></textarea>
            <div class="input-field col s6">
                <input id="rule_start_hour" type="text" class="validate formy">
                <label for="rule_start_hour">Hasta</label>
            </div>
            <div class="input-field col s6">
                <input id="rule_finish_hour" type="text" class="validate formy">
                <label for="rule_finish_hour">Desde</label>
            </div>
            <div class="right">
                <a id="cancel" class="waves-effect waves-light btn red accent-3">Cancelar</a>
                <a class="waves-effect waves-light btn light-green accent-4">Aceptar</a>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>

<script>
  //Accion del Boton Cancelar
  $("#cancel").click(
      function(){
      borrarTodo($(".formy"));
    }
  );

  function borrarTodo(quecosas){
    borrarCampos(quecosas);
    //Uncheck the Checkbox
    $('#check').attr('checked', false)
  }

  //Borrar todo el contenido de lo  que tenga el objeto
  function borrarCampos(ob){
    ob.val(null);
    console.log("Campos Borrados!");
  }
</script>
{% endblock %}
{% block scripts %}
{% endblock %}
