{% extends 'base.html' %}
{% load static %}
{% block title %}
Registro
{% endblock %}
{% block header %}
Registro
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <form action="{% url 'webPage:addUsuario' %}" method="POST" enctype="multipart/form-data" class="card col s8 offset-s2 blue-grey lighten-5" style="padding:15px;margin-top:20px">
            {% csrf_token %}
            <div class="input-field col s8 offset-s2">
                <input id="u_nom" type="text" class="validate formy" name="u_nom">
                <label for="u_nom">Nombre de Usuario</label>
            </div>
            <div class="input-field col s8 offset-s2">
                <input id="u_pass" type="password" class="validate formy" name="u_pass">
                <label for="u_pass">Contraseña</label>
            </div>
            <div class="input-field col s8 offset-s2">
                <select name="u_priv">
                    <option value="" disabled selected>Seleccione privilegio</option>
                    {% for privilegio in privilegios %}
                    <option value="{{privilegio.namePrivilege}}">{{privilegio.namePrivilege}}</option>
                    {% endfor %}
                </select>
                <label>Privilegio</label>
            </div>
            <div class="center col s8 offset-s2">
                <button id="cancel" class="waves-effect waves-light btn red accent-3">Cancelar</button>
                <button class="btn waves-effect waves-light light-green accent-4" type="submit" name="action">Aceptar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
