<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <header>
            <nav role="navigation">
                <div class="nav-wrapper">
                    <div class="container">
                        <a class="brand-logo center">{% block header %}{% endblock %}</a>
                        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                    </div>
                    <ul id="nav-mobile" class="side-nav fixed">
                        <li class="logo">
                            <a id="logo-container" href="{% url 'webPage:listUsuarios' %}" class="brand-logo">
                                <object id="front-page-logo" type="image/svg+xml" data="{% static 'res/logo.svg' %}"></object>
                            </a>
                        </li>
                        <li class="bold"><a href="{% url 'webPage:listUsuarios' %}" class="waves-effect">Lista de Usuarios</a></li>
                        <li class="bold"><a href="{% url 'webPage:listActiveUsers' %}" class="waves-effect">Lista de Usuarios Activos</a></li>
                        <li class="bold"><a href="{% url 'webPage:addUsuario' %}" class="waves-effect">Añadir Usuario</a></li>
                        <li class="bold"><a href="{% url 'webPage:listPrivilegios' %}" class="waves-effect">Lista de Privilegios</a></li>
                        <li class="bold"><a href="{% url 'webPage:listReglas' %}" class="waves-effect">Lista de Reglas</a></li>
                        <li class="bold"><a href="{% url 'webPage:addReglas' %}" class="waves-effect">Añadir Reglas</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();
            $('select').material_select();
        });
    </script>
    {% block scripts %}
    {% endblock %}
</html>
