{% extends 'base.html' %}
{% load static %}
{% block title %}
Reglas
{% endblock %}
{% block header %}
Reglas
{% endblock %}
{% block content %}
<div class="container">
    <table class="highlight">
        <thead>
            <tr>
                <th data-field="r_nombre">Nombre</th>
                <th data-field="r_descripcion">Descripción</th>
                <th data-field="r_allow">Allow?</th>
            </tr>
        </thead>
        <tbody>
            {% for regla in reglas %}
            <tr class="parent">
                <td>{{regla.nameURL}}</td>
                <td>{{regla.description}}</td>
                {% if regla.allow %}
                <td><input type="checkbox" disabled checked id="check-{{regla.idRule}}"/><label for="check-{{regla.idRule}}"></label></td>
                {% else %}
                <td><input type="checkbox" disabled id="check-{{regla.idRule}}"/><label for="check-{{regla.idRule}}"></label></td>
                {% endif %}
                <td>
                    <ul class="right hidden">
                        <li class="inline"><a href="{% url 'webPage:delRegla' regla.idRule %}"><i class="fa fa-trash"></i></a></li>
                        <li class="inline"><a href="{% url 'webPage:modRegla' regla.idRule %}"><i class="fa fa-pencil"></i></a></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });
</script>
{% endblock %}
