{% extends 'base.html' %}
{% load static %}
{% block title %}
Reglas
{% endblock %}
{% block header %}
Reglas
{% endblock %}
{% block content %}
<div class="container">
    <table class="highlight">
        <thead>
            <tr>
                <th data-field="r_nombre">Nombre</th>
                <th data-field="r_descripcion">Descripción</th>
                <th data-field="r_allow">Allow?</th>
            </tr>
        </thead>
        <tbody>
            {% for regla in reglas %}
            <tr class="parent">
                <td>{{regla.nameurl}}</td>
                <td>{{regla.description}}</td>
                {% if regla.allow %}
                <td><input type="checkbox" disabled checked id="check-{{regla.idrule}}"/><label for="check-{{regla.idrule}}"></label></td>
                {% else %}
                <td><input type="checkbox" disabled id="check-{{regla.idrule}}"/><label for="check-{{regla.idrule}}"></label></td>
                {% endif %}
                <td>
                    <ul class="right hidden">
                        <li class="inline"><i class="fa fa-trash" href="{% url 'webPage:addReglas' regla.idrule %}"></i></li>
                        <li class="inline"><i class="fa fa-pencil" href="{{regla.idrule}}"></i></li>
                        <li class="inline"><i class="fa fa-power-off" href="{{regla.idrule}}"></i></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });
</script>
{% endblock %}
