{% extends 'base.html' %}
{% load static %}
{% block title %}
Lista de Usuarios
{% endblock %}
{% block header %}
Lista de Usuarios
{% endblock %}
{% block content %}


<table class="highlight container" >
    <thead>
        <tr>
            <th data-field="id">Usuario</th>
            <th data-field="name">Privilegios</th>
        </tr>
    </thead>

    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.username}}</td>
            <td>{{usuario.nameprivilege.nameprivilege}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
{% endblock %}
