{% extends 'base.html' %}
{% load static %}
{% block title %}
Reglas
{% endblock %}
{% block header %}
Reglas
{% endblock %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="col s12 m12 l12">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        {% for priv in privileges %}
                        <li class="tab col s3"><a class="active" href="#test2">{{priv.nameprivilege}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="test1" class="col s12"><table>
                    <thead>
                        <tr>
                            <th data-field="id">Name</th>
                            <th data-field="name">Description</th>
                            <th data-field="price"></th>
                            <th data-field="price"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>CACA</td>
                            <td>PIS</td>
                            <td><input type="checkbox" id="usuario1"/><label for="usuario1"></label></td>
                            <td><div class="fixed-action-btn vertical">
                                <a class="btn-floating btn-large red">
                                    <i class="fa fa-edit" id="trash1"></i>
                                </a>
                                <ul>
                                    <li><a class="btn-floating red"><i class="fa fa-trash" id="trash1"></i></a></li>
                                    <li><a class="btn-floating yellow darken-1"><i class="fa fa-pencil" id="edit1"></i></a></li>
                                    <li><a class="btn-floating green"><i class="fa fa-power-off" id="power-off1"></i></a></li>

                                </ul>
                                </div></td>
                        </tr>

                    </tbody>
                    </table></div>
                <div id="test2" class="col s12">
                    <table class="highlight">
                        <thead>
                            <tr>
                                <th data-field="id">Name</th>
                                <th data-field="name">Description</th>
                                <th data-field="price"></th>
                                <th data-field="price"></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for regla in reglas %}
                            <tr class="parent">
                                <td>{{regla.nameurl}}</td>
                                <td>{{regla.description}}</td>
                                <td><input type="checkbox" id="check-{{regla.idrule}}"/><label for="check-{{regla.idrule}}"></label></td>
                                <td>
                                    <ul class="right hidden">
                                        <li class="inline"><i class="fa fa-trash" id="trash1-{{regla.idrule}}"></i></li>
                                        <li class="inline"><i class="fa fa-pencil" id="edit1-{{regla.idrule}}"></i></li>
                                        <li class="inline"><i class="fa fa-power-off" id="power-off1-{{regla.idrule}}"></i></li>
                                    </ul>
                                    <!-- <div class="fixed-action-btn horizontal">
<a class="btn-floating btn-large">
<i class="fa fa-edit" id="trash1-{{regla.idrule}}"></i>
</a>
<ul>
<li><a class="btn-floating red"><i class="fa fa-trash" id="trash1-{{regla.idrule}}"></i></a></li>
<li><a class="btn-floating yellow darken-1"><i class="fa fa-pencil" id="edit1-{{regla.idrule}}"></i></a></li>
<li><a class="btn-floating green"><i class="fa fa-power-off" id="power-off1-{{regla.idrule}}"></i></a></li>

</ul>
</div>-->
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>


{% endblock %}
{% block scripts %}
{% endblock %}
