{% extends 'base.html' %}
{% load static %}
{% block title %}
Modificar Regla {{regla.idRule}}
{% endblock %}
{% block header %}
Modificar Regla {{regla.idRule}}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <form  action="{% url 'webPage:modRegla' regla.idRule %}" method="POST" enctype="multipart/form-data"  class="card col s12 blue-grey lighten-5" style="padding:15px;margin-top:20px">
            {% csrf_token %}
            <input type="text" hidden value="{% if regla.isContent %}0{% else %}1{% endif %}" id="w" name="r_w">
            <div class="droptrigger input-field col s8" id="url">
                <input id="r_name" type="text" class="validate formy" name="r_name" value="{% if not regla.isContent %} {{regla.nameURL}} {% endif %}">
                <label for="r_name">URL</label>
            </div>
            <div id="contenido" class="input-field col s8" style="display: none">
                <select name="r_cont">
                    <option value="hola" disabled>Seleccione un Contenido</option>
                    {% for contenido in contenidos %}
                    {% if regla.isContent %}
                    <option value="{{contenido.nameContent}}" selected>{{contenido.nameContent}}</option>
                    {% else %}
                    <option value="{{contenido.nameContent}}">{{contenido.nameContent}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label>Contenido</label>
            </div>
            <div class="valign-wrapper col s1" style="padding-top:10px">
                <i id="go_group" onclick="change()" class="fa fa-3x fa-caret-down"></i>
                <i id="go_url" onclick="change()" class="fa fa-2x  fa-pencil" style="display: none"></i>
            </div>
            <div class="valign-wrapper switch col s3" style="padding-top:30px;padding-left:35px">
                <label class="valign">
                    Habilitar?
                    {% if regla.allow %}
                    <input type="checkbox" checked id="check" name="r_is" value="1">
                    {% else %}
                    <input type="checkbox" id="check" name="r_is" value="1">
                    {% endif %}
                    <span class="lever"></span>
                </label>
            </div>
            <div class="input-field col s12">
                <textarea id="r_desc" class="materialize-textarea formy" name="r_desc">{{regla.description}}</textarea>
                <label for="r_desc">Descripción</label>
                <div class="input-field col s6">
                    <input id="r_s_h" type="text" class="validate formy" name="r_s_h" value="{{regla.rFrom|date:'d m Y H:i'}}">
                    <label for="r_s_h">Desde DD MM AAAA HH:MM</label>
                </div>
                <div class="input-field col s6">
                    <input id="r_f_h" type="text" class="validate formy" name="r_f_h" value="{{regla.rTo|date:'d m Y H:i'}}">
                    <label for="r_f_h">Hasta DD MM AAAA HH:MM</label>
                </div>
                <div id="privilegios" class="input-field col s12">
                    <select name="r_priv">
                        <option value="hola" disabled selected>Seleccione un Privilegio</option>
                        {% for privilegio in privilegios %}
                        <option value="{{privilegio.namePrivilege}}">{{privilegio.namePrivilege}}</option>
                        {% endfor %}
                    </select>
                    <label>Privilegio</label>
                </div>
                <div class="right">
                    <a id="cancel" class="waves-effect waves-light btn red accent-3">Cancelar</a>
                    <button class="btn waves-effect waves-light light-green accent-4" type="submit" name="action">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

<script>
    //Accion del Boton Cancelar
    $("#cancel").click(
        function(){
            borrarTodo($(".formy"));
        }
    );

    function borrarTodo(quecosas){
        borrarCampos(quecosas);
        //Uncheck the Checkbox
        $('#check').attr('checked', false)
    }

    //Borrar todo el contenido de lo  que tenga el objeto
    function borrarCampos(ob){
        ob.val(null);
        console.log("Campos Borrados!");
    }
    function change(){
        $('#url').toggle();
        $('#contenido').toggle();
        $('#go_group').toggle();
        $('#go_url').toggle();
        if($('#w').val()=="1"){
            $('#w').val(0);
            console.log($('#w').val());
        }else{
            $('#w').val(1)
            console.log($('#w').val());
        }
    }
</script>
{% endblock %}
