<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <title>Activado!</title>
    </head>
    <body>
        <main>
            <div class="container">
                <div class="row">
                    <div class="card col s8 blue-grey lighten-5" style="padding:15px;margin-top:20px">
                        <div class="input-field col s8 offset-s2">
                            <h5 class="center">Usted ya puede navegar</h5><br>
                            <a href="https://www.google.com">
                                <button id="google" class="col s12 waves-effect waves-light btn blue accent-3">Ir a Google</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </body>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</html>
